*.o
*.a
src/ur
*~
.DS_Store
.vscode

# Exclude cmake and build files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
ur
build
.cmake

# vcpkg
vcpkg_installed

# Visual Studio
.vs
CMakeSettings.json

# Xcode (builder)
./builder/UR Builder.xcodeproj/project.xcworkspace/xcuserdata

# Clion
cmake-build-debug
.idea